body {
    font-family: 'Mulish', sans-serif;
}

.banner {
    /* background-color: #1E2E54; */
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;

    /* background-image: linear-gradient(to bottom, rgba(87, 88, 99, 0.52), rgba(91, 43, 94, 0.859)),; */
}

.banner-text {
    font-family: 'Carter One', cursive;
}

/* warna footer */
.footer1-color {
    background-color: #3093f0;
}

.footer2-color {
    background-color: #2882d6;
}
/* end warna footer */

/* warna menu 2 */
.menu-color2 {
    background-color: #409ff1;
}

.white {
    color: #ffffff;
}

.blue1 {
    color: #3acbf8;
}

.blue2 {
    color: #409ff1;
}

.blue3 {
    color: #3093f0;
}

.blue4 {
    color: #89e7ff;
}

.blue5 {
    color: #AFD3E2;
}

.blue6 {
    color: #146C94;
}
/* end warna menu 2 */

/* warna btn 2 */
.btn-orange {
    background-color: #FFC93C;
}

.btn-blue6 {
    background-color: #146C94;
}

.btn-blue7 {
    background-color: #19A7CE;
}
/* end warna btn 2 */

.nav_color
{
    background-color: #409ff1;
}

.warna_search {
    background-color: #3acbf8;
}

.card-body-size {
    min-block-size: 20rem;
}

.item-size {
    max-height: 18rem;
}

.item-size-video {
    max-height: 18rem;
    min-height: 18rem;
}

.teks {
    width: 250px; /* Atur lebar maksimum untuk kontainer teks */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teks2 {
    width: 150px; /* Atur lebar maksimum untuk kontainer teks */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* cooler card photo */
.card-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 320px;
    height: 300px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-img:hover {
    height: 270px;
}

.card-img .imgbox {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: black;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.card-img:hover .imgbox {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
}

.card-img .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.card-img .content {
    position: absolute;
    top: 255px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.card-img:hover .content {
    top: 140px;
    height: 250px;
}
/* end cooler card photo */

/* cooler card photo profile */
.card-img2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 220px;
    height: 160px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-img2:hover {
    height: 170px;
}

.card-img2 .imgbox2 {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 120px;
    background: black;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.card-img2:hover .imgbox2 {
    top: -50px;
    scale: 0.8;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
}

.card-img2 .imgbox2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.card-img2 .content2 {
    position: absolute;
    top: 130px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.card-img2:hover .content2 {
    top: 85px;
    height: 150px;
}

/* end cooler card photo profile */

/* cooler card video */
.card-vid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 320px;
    height: 300px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-vid:hover {
    height: 270px;
}

.card-vid .vidbox {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: black;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.card-vid .vidbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-vid .vidbox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-vid:hover .vidbox {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card-vid .contentvid {
    position: absolute;
    top: 255px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.card-vid:hover .contentvid {
    top: 140px;
    height: 250px;
}
/* end cooler card video */

/* cooler card video profile */
.card-vid2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 220px;
    height: 160px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-vid2:hover {
    height: 170px;
}

.card-vid2 .vidbox2 {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 120px;
    background: black;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.card-vid2 .vidbox2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-vid2 .vidbox2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-vid2:hover .vidbox2 {
    top: -50px;
    scale: 0.8;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
}

.card-vid2 .contentvid2 {
    position: absolute;
    top: 133px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.card-vid2:hover .contentvid2 {
    top: 85px;
    height: 150px;
}
/* end cooler card video profile */

/* cooler card audio */
.card-audio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 320px;
    height: 300px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-audio:hover {
    height: 290px;
}

.card-audio .audiobox {
    position: absolute;
    top: 5px;
    width: 250px;
    height: 180px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.card-audio:hover .audiobox {
    top: -100px;
    width: 250px;
    scale: 0.9;
    border-radius: 30%;
    border: 8px solid white;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card-audio .audiobox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-audio .contentaudio {
    position: absolute;
    top: 190px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.card-audio:hover .contentaudio {
    top: 120px;
    height: 250px;
}

/* end cooler card audio */

/* Wave Audio */
.music {
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.music .bar {
    width: 12px;
    border-radius: 10px;
    background: white;
    animation: movement 1.5s ease-in-out infinite;
}

@keyframes movement {

    0%,
    100% {
        height: 2px;
    }

    50% {
        height: 80px;
    }
}

.music .bar:nth-child(1) {
    background: #39A7FF;
    animation-delay: 1s;
}

.music .bar:nth-child(2) {
    background: #87C4FF;
    animation-delay: .8s;
}

.music .bar:nth-child(3) {
    background: #39A7FF;
    animation-delay: .6s;
}

.music .bar:nth-child(4) {
    background: #87C4FF;
    animation-delay: .4s;
}

.music .bar:nth-child(5) {
    background: #39A7FF;
    animation-delay: .2s;
}

.music .bar:nth-child(6) {
    background: #87C4FF;
    animation-delay: .2s;
}

.music .bar:nth-child(7) {
    background: #39A7FF;
    animation-delay: .4s;
}

.music .bar:nth-child(8) {
    background: #87C4FF;
    animation-delay: .6s;
}

.music .bar:nth-child(9) {
    background: #39A7FF;
    animation-delay: .8s;
}

.music .bar:nth-child(10) {
    background: #87C4FF;
    animation-delay: 1s;
}
/* end Wave Audio */

/* cooler card audio profile */
.card-audio2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 220px;
    height: 160px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card-audio2:hover {
    height: 230px;
}

.card-audio2 .audiobox2 {
    position: absolute;
    top: 10px;
    width: 200px;
    height: 120px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.card-audio2:hover .audiobox2 {
    border-radius: 35%;
    top: -50px;
    scale: 0.8;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 2);
}

.card-audio2 .audiobox2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-audio2 .contentaudio2 {
    position: absolute;
    top: 115px;
    width: 100%;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.card-audio2:hover .contentaudio2 {
    top: 75px;
    height: 150px;
}

.card-audio2 audio {
    width: 100%;
}

/* end cooler card audio profile */

/* tombol download video */
.tombol-utama {
    margin-bottom: 10px;
}

.tombol-lainnya {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tombol-lainnya.muncul {
    opacity: 1;
    transform: translateY(0);
}
/* end tombol download video */

/* warna svg */
.theme-icon-active use {
    fill: white;
}
/* end warna svg */

/* media query */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .card-img .imgbox {
            width: 210px;
        }
    .card-img2 .imgbox2 {
            width: 120px;
        }
     .card-vid .vidbox {
            width: 210px;
        }
     .card-vid2 .vidbox2 {
            width: 120px;
        }
    .card-audio .audiobox {
            width: 210px;
        }
    .card-audio2 .audiobox2 {
            width: 120px;
        }
    .card-audio .waudio {
            width: 92%;
        }
    .teks {
            width: 150px;
            /* Atur lebar maksimum untuk kontainer teks */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    .teks2 {
            width: 70px;
            /* Atur lebar maksimum untuk kontainer teks */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .card-img .imgbox {
            width: 250px;
        }
    .card-img2 .imgbox2 {
            width: 150px;
        }
    .card-vid .vidbox {
            width: 250px;
        }
    .card-vid2 .vidbox2 {
            width: 150px;
        }
    .card-audio .audiobox {
            width: 250px;
        }
    .card-audio2 .audiobox2 {
            width: 150px;
        }
    .card-audio .waudio {
            width: 95%;
        }
    .teks {
            width: 200px;
            /* Atur lebar maksimum untuk kontainer teks */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    .teks2 {
            width: 100px;
            /* Atur lebar maksimum untuk kontainer teks */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}
/* end media query */

/* icon file, yt dan drive */
.iconyd {
    width: 1.3rem;
    transition: 0.5s;
}

.iconyd:hover {
    width: 1.5rem;
}
/* end icon file, yt dan drive */

/* icon judul post show */
.iconps {
    width: 1.8rem;
}
/* end icon judul post show */

/* foto profil */
.foto-profil {
    width: 8rem;
    height: 8rem;
    background: black;
    margin: 0 auto;
}

.foto-profil img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}
.profil-edit {
    width: 15rem;
    height: 15rem;
    background: black;
}

.profil-edit img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.profil-detail {
    width: 3rem;
    height: 3rem;
    background: black;
}

.profil-detail img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}
/* end foto profil */

/* icon profile */
.iconsize {
    width: 1.5rem;
}
/* end icon profile */

/* embed youtube */
 .laravel-embed__responsive-wrapper {
     position: relative;
     height: 0;
     overflow: hidden;
     max-width: 100%;
 }

 .laravel-embed__fallback {
     background: rgba(0, 0, 0, 0.15);
     color: rgba(0, 0, 0, 0.7);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .laravel-embed__fallback,
 .laravel-embed__responsive-wrapper iframe,
 .laravel-embed__responsive-wrapper object,
 .laravel-embed__responsive-wrapper embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
/* end embed youtube */

/* Progress Bar */

/* end Progress Bar */
